<%
var headdata = (locals.head) ? locals.head : {};
locals.vpath = headdata.vpath || '';
%>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="path" content="<%=vpath%>">
<title><%=headdata.title || '' %></title>
<link href="<%=vpath%>/mng/css/common.css" rel="stylesheet">
<script src="<%=vpath%>/mng/js/common.js"></script>