 <!DOCTYPE html>
<head>
	<% include ./head.html %>
</head>
 
<body>    
    <div class="container">
        <div class="row" style="margin-top:300px;">
        	<!--<a data-lightbox="相簿" ><img src="/jason/uploads/1464004488547-17818.jpg"></a>
        	<a data-lightbox="相簿" data-title="第二張圖" data-url="https://www.youtube.com/watch?v=mrEee4bhc7Y"><img src="/jason/uploads/1464004544494-39675.jpg"></a>
        	<a data-lightbox="相簿2" ><img src="/jason/uploads/1466133923108-48957.jpg"></a>
        	<a data-lightbox="相簿" data-title="第二張圖" data-url="https://vimeo.com/159069175"><img src="/jason/uploads/1464004544494-39675.jpg"></a>-->

	        <!-- start jUpload -->
	        <div id="file1"></div>
	        
        </div>
    </div>
</body>
</html>
<script>
console.log(Cookies.get());

jLightBox.parse();

var j1 = new jUpload({
	"target":"#file1",
	"uploadURL":"/jason/api/upload",
	//"multiple":false
});

j1.on("change", function(e) {
	console.log(e.files);
	jLightBox.parse();
	if (_jdrag)
		_jdrag.update();
});
j1.on('wrongfile', function(e) {
    console.log('j1 wrongfile');
    console.log(e.files);
});
j1.on('error', function(e) {
	console.log(e.msg);
});
j1.on('complete', function(e) {
	console.log(e.index);
	console.log(e.file);
});
j1.add([
    { name:'/jason/uploads/1464004467005-41251.jpg' },
    { name:'/jason/uploads/1464004543637-86084.jpg' },
    { name:'/jason/uploads/小毛驢.mp4'}
]);

var _jdrag = new jDragSort({
	"container":".jfile_unitcontainer",
	"unit":".jfile_unit"
});
_jdrag.start();
</script>

