<!DOCTYPE html>
<head>
	<% include ./mng/head.html %>
	<meta property="og:type" content="website" />    
    <meta property="og:url" content="http://lab.medialand.com.tw/jason/kindergarten"/>

</head>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr81_p4e7u1SpeALG2IwAvFcgKSkPQPhI&callback=initMap"></script>
<style type="text/css">
html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }
</style>
</head>
<body>    
	<div id="map"></div>
</body>
</html>

<script type="text/javascript" src="/jason/js/kindergarten.js"></script>